<section class="converter" *ngIf="exchange$ | async as exchange">
    <div class="converter__field">
        <select class="converter__currency" [formControl]="firstSelectCurrency" (change)="calculateSecond()">
            <option *ngFor="let currency of exchange" [value]="currency.cc">{{currency.cc}}</option>
        </select>
        <input class="converter__input" [formControl]="firstCurrency" type="number" (change)="calculateSecond()">
    </div>

    <span class="material-symbols-outlined converter__image"> currency_exchange </span>

    <select class="converter__currency" [formControl]="secondSelectCurrency" (change)="calculateFirst()">
        <option *ngFor="let currency of exchange" [value]="currency.cc">{{currency.cc}}</option>
    </select>
    <input class="converter__input" [formControl]="secondCurrency" type="number" (change)="calculateFirst()">

</section>